.container {
  display: flex;
  justify-content: space-around;
}
.left {
  width: 50vw;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center;  */
  /* position: fixed;
  left: 0; */
  text-align: center;
}
.right {
  width: 50vw;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: ; */
  /* right: 0; */
}
.productImage {
  /* width: 50vw;*/
  height: 80vh;
  max-width: 40vw;
  max-height: 150vh;

  object-fit: cover;
  background-size: "cover";
}
.productTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}
.discount {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.discountPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.actualPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: line-through;
}
.price {
  display: flex;
  flex-direction: column;
}
.categorytree {
  margin: 1rem;
  color: blueviolet;
}
.availabilityContent {
  color: indianred;
}
.description {
  width: 30vw;
}
