.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;
  padding-bottom: 2rem;
}
.pagination2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  gap: 200px;
  margin-bottom: 2rem;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 16px;
}

.ul {
  list-style: none;
}
.carddiv {
  width: 50%;
}

@media screen and (max-width: 510px) {
  .carddiv {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .carddiv {
    height: 100%;
    width: 100%;
  }
}
