.container {
  display: flex;
  justify-content: space-around;
}
.left {
  width: 50vw;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center;  */
  /* position: fixed;
  left: 0; */
  text-align: center;
  align-items: center;
}
.right {
  width: 50vw;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: ; */
  /* right: 0; */
}
.corner {
  position: absolute;
  top: 50vh;
  right: 0;
  margin: 1rem;
  width: 15vw;
  color: bisque;
  height: 100vh;
}
.productImage {
  width: fit-content;
  height: 12rem;
  /* max-width: 40vw; */
  max-height: 150vh;
  /* width: fit-content; */
  object-fit: cover;
  background-size: "cover";
  align-items: center;
  margin-top: 5rem;
}
.productTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}
.discount {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.discountPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}
.actualPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: line-through;
}
.price {
  display: flex;
  flex-direction: column;
}
.categorytree {
  margin: 1rem;
  color: blueviolet;
}
.availabilityContent {
  color: indianred;
}
.description {
  width: 30vw;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .left {
    width: 100%;
    padding: 15px;
  }
  .productImage {
    margin-top: 20px;
  }
  .right {
    width: 100%;
    padding: 15px;
  }
  .description {
    width: 100%;
  }
}
