/* Card Styling */
.cardx {
  display: flex;
  flex-direction: row;
}
.card-body {
  display: flex;
  background-color: #fff;
  justify-content: center;
  padding: 0%;
  margin: 0 1rem 1rem 1rem;
  padding-top: 0;
  margin-top: 0;
}
.card-body img {
  width: 10vw;
  height: 12rem;

  margin-bottom: 2rem;
}
.card-content {
  margin: 2rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  width: 45vw;
  height: 17rem;
  padding: 2rem 3rem 2rem 0rem;
  overflow: hidden;
}
.card-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-text {
  font-size: 1vw;
  margin-bottom: 1rem;
}
.discount {
  color: #0df133;
}
