/* Card Styling */
.cardx {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  padding: 20px;
}
.card-body {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 20px; */
}

.card-content {
  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
  width: 100%;
  min-height: 500px;
  padding: 20px;
  overflow: hidden;
  /* margin: 30px; */
  border-radius: 10px;
  /* padding: 20px; */
}

.card-body img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.card-bodyx {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}
.card-body1 {
  flex-direction: column;
  justify-content: start;
}
.card-title {
  font-size: 1.5vw;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-text {
  font-size: 1vw;
  margin-bottom: 1rem;
}
.discount {
  color: #0df133;
}

@media screen and (max-width: 700px) {
  .cardx {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .card-body {
    flex-direction: column;
  }
  .card-body img {
    height: 100%;
    width: 100%;
  }
  .card-body1 {
    flex-direction: column;
    justify-content: start;
  }
  .card-bodyx {
    flex-direction: row;
    /* gap: 0px; */
    justify-content: space-between;
  }
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .discount {
    color: #0df133;
  }
}

@media screen and (max-width: 300px) {
  .cardx {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .card-body {
    flex-direction: column;
  }
  .card-body img {
    height: 100%;
    width: 100%;
  }
  .card-body1 {
    flex-direction: column;
    justify-content: start;
  }
  .card-bodyx {
    flex-direction: column;
    /* gap: 0px; */
    justify-content: space-between;
  }
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .discount {
    color: #0df133;
  }
}
